Repository nanoframework/nanoFramework.WebServer, pull requests merged in 2024-10, with the labels that each got.

#270 WiFi credentials file for unit tests is now added through a template
  tests/WebServerE2ETests/Template/.gitignore
  tests/WebServerE2ETests/WebServerE2ETests.nfproj
  tests/WebServerE2ETests/WiFi.cs
Labels: Area: Config-and-Build

#271 WiFi access point credentials no longer stored in git repository
  README.md
  tests/WebServerE2ETests/.gitignore
  tests/WebServerE2ETests/Program.cs
  tests/WebServerE2ETests/Template/WiFi.cs
  tests/WebServerE2ETests/WebServerE2ETests.nfproj
Labels: Type: documentation, Type: Unit Tests

#272 Internal server error if there are multiple matching callbacks
  .editorconfig
  README.md
  nanoFramework.WebServer/WebServer.cs
  spelling_exclusion.dic
  tests/WebServerE2ETests/AuthController.cs
  tests/WebServerE2ETests/MixedController.cs
  tests/WebServerE2ETests/Program.cs
  tests/WebServerE2ETests/SimpleRouteController.cs
  tests/WebServerE2ETests/WebServerE2ETests.nfproj
  tests/WebServerE2ETests/nanoFramework WebServer E2E Tests.postman_collection.json
Labels: Type: enhancement, Type: Unit Tests
